body {
    font-family: Arial, sans-serif;
    text-align: center;

}

#game-base {
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
}

#game-board {
    display: none;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    max-width: 600px; 
    margin: auto;
}

#menu {
    text-align: center;
    
}

.tile {
    min-width: 150px; 
    min-height: 70px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #efefe6;
    cursor: pointer;
    border-radius: 13px;

}


#game-board .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    gap: 10px;
    padding-top: 10px;
        
}

#message-box {
    position: fixed;
    top: 50%;      
    left: 50%;     
    transform: translate(-50%, -50%); 
    z-index: 1000; /* to make sure it is on top of everything else */
    color: yellow; 
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 10px;
    border-radius: 5px;
    text-align: center;

}


/* #game-board .row:last-child { removes the margin-bottom from the last row */
    /* margin-bottom: 0;  */
/* } */

.tile--active, .tile--matched { /* tile--active is the class that is added to the tile when it is clicked */
    background-color: #5a594e;
    opacity: 0.4 ease;
    color: white;
    
}

#score-display {
    font-size: 24px;
    margin-bottom: 20px;
}


#play-button {
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: none;
    width: 120px;
    height: 50px;
    margin-top: 20px;
}

#shuffle-button, #deselect-button, #submit-button {
    display: none;
    border-radius: 50px;
    background-color: white;
    border: 1px solid grey;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: black;
    margin-top: 10px;
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes slideIn { 
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}