body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('5368082.jpg');
    background-size: cover;
    background-repeat: no-repeat;


}

hr {
    border: 1px solid #333;
    width: 100%;
    margin: 100px auto;
}

h1{
    background-color: lightgray;
    padding: 10px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 10px;
}



#game-base {
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
}

#game-board {
    display: none;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    max-width: 600px; 
    margin: auto;
}

#menu {
    text-align: center;
    
}



.tile {
    min-width: 150px; 
    min-height: 70px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #efefe6;
    cursor: pointer;
    border-radius: 13px;

}


#game-board .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    gap: 10px;
    padding-top: 10px;
        
}

#message-box {
    position: fixed;
    top: 50%;      
    left: 50%;     
    transform: translate(-50%, -50%); 
    z-index: 1000; /* to make it first */
    color: yellow; 
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 10px;
    border-radius: 5px;
    text-align: center;

}

#message-box2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* turned down backdrop */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.message-content-box {  /* this controls messageBox2 */
    padding: 20px;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: slideUp 0.5s ease-out forwards;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.close-btn:hover { 
    color: black;
}

.tile--active, .tile--matched { /* tile--active is the class that is added to the tile when it is clicked */
    background-color: #5a594e;
    opacity: 0.4 ease;
    color: white;
    
}

.footer {
    text-align: center;
}

.groups-button {
    margin-bottom: 10px;
}

.mistakes-text {
    color: black;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    width: 110px;
    margin-top: -3px;
}

#score-display {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    width: 120px;
    
}

#hiding-this {
    margin-top: 70px;
    margin-bottom: 20px;
    background-color: lightgray;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 30px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 10px;
}


#play-button {
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: none;
    width: 120px;
    height: 50px;
    margin-top: 20px;
}

#line {
    display: none;
}

#shuffle-button, #deselect-button, #submit-button{
    display: none;
    border-radius: 50px;
    background-color: white;
    border: 1px solid grey;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: black;
    margin-top: 10px;
}

#help-button {
    border-radius: 50px;
    background-color: white;
    border: 1px  grey;
    font-size: 18px;
    cursor: pointer;
    color: black;
    margin-top: 10px;
}

#submit-button:disabled {
    background-color: white; /* this is the color of the button when it is disabled */
    color: #7f7f7f;
    opacity: 0.9;
    cursor: auto;
}

#help-button, #feedback-button {
    display: none;
}

@keyframes slideUp { /* this is the animation for the message box */
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(1%);
        opacity: 1;
    }
}

 @keyframes slideOut { 
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes fadeIn { /* this slowly fades the game board in */
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in-animation { /* this slowly fades the game board in */
    animation-name: fadeIn;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
}

.color-easy { background-color: green; }
.color-normal { background-color: yellow; }
.color-hard { background-color: orange; }
.color-tricky { background-color: red; }

.answer-banner {
    width: 90%;
    border-radius: 15px;

}

.no-select {
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.non-interactive-element {
    pointer-events: none;
}

.try-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #555;
    margin: 0 5px;
}

.tries-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
    
@keyframes bannerAppear { /* when the word banner */
    from {
        transform: scaleY(0);
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

.banner-appear-animation {
    animation: bannerAppear 0.5s ease forwards;
}

.skull-icon {
    color: firebrick;
    padding-right: 2px;
    margin-left: 5px;
}


/* messageBox Content*/

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.color-box.easy {
    background-color: green; 
}

.color-box.moderate {
    background-color: yellow ; 
}

.color-box.hard {
    background-color: orange;
}

.color-box.tricky {
    background-color: red; 
}



/* grouping all together*/
.message-content-box h2,
.message-content-box h3,
.message-content-box p,
.message-content-box ul { 
    text-align: left;

}

.message-content-box p {
    font-weight: bold;

} 
.message-content-box ul {
    list-style: inside;
    margin-left: -30px;
    text-indent: -5px;
    line-height: 25px;
}

#examples { /* this is the id of the ul in the message box */
    font-weight: normal;
}

.message-content-box a {
    color: blue;
    text-decoration: none;
}

.message-content-box a:hover {
    text-decoration: underline;
}

/* end message box */
#end-game-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Message box style */
#end-game-message-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
